html,
body {
  height: 100%;
}
.container {
  position: relative;
  width: 500px;
  height: 500px;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}
body {
  margin: 0;
  margin-top: 50%;
  background: #eb258bf3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

::placeholder{
 color: #000000;

}

button {
  background: transparent;
  margin-top: 15%;
  margin-left: 35%;
  width: 425px;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.ear-left-outer, .ear-right-outer {fill:#8125e5;}
.ear-left-inner, .ear-right-inner {fill:#3a0f67;}
.eye-right-outer, .eye-left-outer, .nostril-right-outer, .nostril-left-outer, .body { fill:#7002cf;}
.eye-right-inner, .eye-left-inner {fill:#FFFFFF;}
.nostril-right-inner, .nostril-left-inner{fill:#150923;}
.freckle {fill:#3a0f67;}
.tongue {fill:#FF4848;}
.tooth-left, .tooth-right {fill:#FFFFE1;}